{% extends 'core/base.html' %}

{% block title %}Paso 4: Pago y Finalización del Pedido{% endblock %}

{% block content %}
<div class="container mt-5">
    <h1>Paso 4: Pago y Finalización del Pedido</h1>
    <div class="progress">
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="25" aria-valuemin="0" aria-valuemax="100">Paso 1</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">Paso 2</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="75" aria-valuemin="0" aria-valuemax="100">Paso 3</div>
        <div class="progress-bar bg-success" role="progressbar" style="width: 25%;" aria-valuenow="100" aria-valuemin="0" aria-valuemax="100">Paso 4</div>
    </div>
    <form method="post" class="mt-3">
        {% csrf_token %}
        <button type="submit" class="btn btn-success w-100">Realizar Pedido</button>
    </form>
</div>
{% endblock %}
